/*styles*/
.environment-info-wrapper{
  position: fixed;
  bottom: 0;
  right: 0;
  height: 120px;
  width: 120px;
  z-index: 999;
}
.environment-info-content{
  background-image: linear-gradient(160deg, var(--color--primary-50) 0%, var(--color--primary-40) 78.66%);
  color: white;
  transform: translate(0%, -50%) rotate(-45deg);
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  top: 50%;
  position: absolute;
  width: 200px;
  left: -40px;
  right: -40px;
  text-align: center;
}
