{{ attach_library("environment_info_block/common") }}
<div class='environment-info-wrapper'>
  <div class='environment-info-content'>
    {%  if data["environment"]  %}
      {{ data["environment"] }}
    {%  endif %}
  </div>
</div>
